@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Nunito&display=swap');

.data-group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    border-top: 0.25rem solid rgb(221, 65, 143);
    width: 33%;
    height: auto;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    overflow: scroll;
    background-color: rgb(245, 245, 245);
    padding-bottom: 5rem;
    border-bottom: 100px;
}

   /* width */
   ::-webkit-scrollbar {
    width: 7.5px;
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d1d1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::-webkit-scrollbar-corner {
    background-color: rgb(221, 65, 143);
  }

.covid-info {
    padding: 5px;
}

.carousel img{
    height: 420px;
}

.covid-info h1{
    font-size: 2em;
    text-align: justify;
    font-family: 'Nunito', sans-serif ;
    margin-top: 10px;
    font-weight: 'bold';
}

.covid-info h1 .virus-ico img {
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
}

.covid-info p{
    font-size: 1.2em;
    color: rgb(124, 124, 124);
    text-align: justify;
}

.world-data-title {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.world-data-title h3{
    font-size: 1.5em;
    color: rgb(27, 27, 27);
    font-family: 'Gotu', sans-serif;
    font-weight: 600;
}

.world-data-title span {
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    text-align: center;
}

.world-data-title span p {
    margin-top: -7px;
    margin-right: 10px;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.692);
}

.total-incidents-data {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    border-bottom: 1.5px solid #191a1a;
}

.total-incidents-data .button {
    width: 33.33%;
    background-color: transparent;
    border: none;
    height: auto;
    font-size: 1.3em;
    cursor: pointer;
    font-family: 'Gotu', sans-serif;
    transition: ease-in-out .1s;
}

.total-incidents-data .button:hover {
    background-color: rgb(211, 211, 211);
    transition: ease-in-out .3s;
}

.btn-filter {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1em;
    font-weight: 600;
    color: #424242;
    border-radius: 0 2px 0 0;
}

.num-format {
    border: none;
}

#btn-confirmed {
    border-right: 2px solid grey;
}

#btn-deaths {
    border-right: 2px solid grey;
}

 #btn-confirmed:hover,  #btn-confirmed:focus {
    border-bottom: 2.5px solid rgba(252, 231, 44);
    color: rgb(252, 168, 44);
    background-color: rgb(211, 211, 211);
    text-shadow: rgba(0,0,0);
    transition: ease-in-out .3s;
}

 #btn-deaths:hover, #btn-deaths:focus {
    border-bottom: 2.5px solid rgb(228, 71, 71);
    color: rgb(228, 71, 71);
    background-color: rgb(211, 211, 211);
    transition: ease-in-out .3s;
}

 #btn-recov:hover, #btn-recov:focus, #btn-recov:visited {
    border-bottom: 2.5px solid rgb(72, 84, 247);
    color: rgb(72, 84, 247);
    background-color: rgb(211, 211, 211);
    transition: ease-in-out .3s;
}

.total-incidents-data .button p {
    margin-top: -5px;
    color: rgba(124, 124, 124, 0.767);
    font-weight: 'bold';
    font-size: .5em;
} 

/* Incidents per country */
.card-country {
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 9999;
}

.country-incidents-data .each-country-btn {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .3s;
    align-items: center;
    justify-content: space-between;
    border: none;
    height: 70px;
    transition: linear 1s;
    outline: none;
}

.span-total-incidents {
    margin-bottom: 45px;
    margin-left: 80px;
    height: 40px;
    width: 150px;
}

.span-total-incidents p:nth-child(1){
    font-size: .7em;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: rgba(80, 80, 80, 0.726);
}

.span-total-incidents p:nth-child(2){
    margin: -5px 0 0 0px;
}

.card-country:hover {
    background-color: rgb(211, 210, 210);
    transition: ease-in-out .3s;
}

.card-country:hover > .country-incidents-data {
    color: black;
}

.country-incidents-data h4 {
    font-size: 1em;
    font-weight: 600;
    margin-left: 10px;
    width: 70%;
    font-family: 'Nunito', sans-serif;
    color: rgb(172, 172, 172);
    text-align: start ;
}

.country-incidents-data p  {
    font-size: 1em;
    text-transform: lowercase;
    margin-right: 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: 600;
}

.country-incidents-data .dropdown-content p  {
    color: rgb(224, 224, 224);
}

#angledown-icon {
    color: rgb(41, 41, 41);
}

.dropdown-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #191a1a;
    max-width: 90%;
    height: 110px;
    margin-left: 5%;
    margin-bottom: 10px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    color: black;
    transition: ease-in-out .5s;
}

.dropdown-content span {
    transform: rotateZ(20deg);
    margin-left: 10px;
    color: #343332;
    font-size: 25px;
}

.dropdown-content span p {
    text-transform: uppercase;
    font-size: .8em;
}

.dropdown-content img {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 -60px;
}

.dropdown-data {
    margin-top: -10px;
    height: 100px;
    padding-top: -50px;
    font-size: .9em;
}

.btn-drop {
    background-color: transparent;
    border: none;
    float: right;
    margin-right: -10px;
}

.loading-spinner {
    border: 2px solid red;
    margin: 20px 0 0 50%;
}