@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Nunito&display=swap');

.data-group {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    border-top: 0.25rem solid rgb(221, 65, 143);
    width: 34%;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
    overflow: scroll;
    background-color: #fff;
    padding-bottom: 5rem;
}

   /* width */
   ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.covid-info {
    padding: 10px;
}

.covid-info h1{
    font-size: 2em;
    text-align: justify;
}

.covid-info p{
    font-size: 1.2em;
    color: rgb(124, 124, 124);
    text-align: justify;
}

.total-incidents-data {
    height: 80px;
    width: 100%;
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

.total-incidents-data .button {
    width: 33%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(145, 145, 145);
    height: 80px;
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Gotu', sans-serif;
}

.total-incidents-data .button:hover {
    background-color: rgb(235, 235, 235);
    transition: ease-in-out .2s;
}

.total-incidents-data #btn-confirmed:focus {
    border-bottom: 3px solid rgb(247, 244, 81);
    color: rgb(247, 244, 81);
    transition: ease-in-out .23s;
}

.total-incidents-data #btn-deaths:focus {
    border-bottom: 3px solid rgb(228, 71, 71);
    color: rgb(228, 71, 71);
    transition: ease-in-out .23s;
}

.total-incidents-data #btn-recov:focus {
    border-bottom: 3px solid rgb(111, 226, 235);
    color: rgb(111, 226, 235);
    transition: ease-in-out .23s;
}

.total-incidents-data .button p {
    margin-top: -5px;
    color: rgba(124, 124, 124, 0.767);
    font-weight: 'bold';
    font-size: .5em;
} 


/* Incidents per country */
.country-incidents-data .each-country-btn{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .3s;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: .5px solid rgb(206, 206, 206);
    height: 70px;
}

.country-incidents-data .each-country-btn:hover {
    background-color: rgb(211, 210, 210);
}

.country-incidents-data h4 {
    font-size: 1em;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    color: rgb(172, 172, 172);
}

.country-incidents-data p  {
    font-size: 1em;
    text-transform: lowercase;
    margin-right: 10px;
    font-family: 'Gotu', sans-serif;
    font-weight: 600;
    color: rgb(221, 65, 143);
}
.country-data-hidden {
    display: none;
    position: absolute;
    z-index: 1;
    align-content: center;
    justify-content: space-around;
    width: 80%;
    border-radius: 6px;
    border: .5px solid rgb(182, 182, 182);
    margin: 20px 10%;
}
