.map-info {
    z-index: 999;
    margin-top: 8px;
    text-align: center;
    height: auto;
    width: auto;
    margin-left: 97%;
    position: fixed;
}

.map-info .btn-info {
    background-color: #2b2a29;
    border: .5px solid white;
}

.map-info .btn-info span {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    transition: ease-in-out .3s;
}